.modal {
  width: 40%;
  position: absolute;
  top: 35%;
  left: 25%;
  background: $color-blue-bg;
  color: $color-font-main;
  padding: 2rem;
  border: 1px solid $color-font-yellow;
  text-align: center;
  button {
    padding: .5rem;
    // margin: 0 1rem;
  }
  button:hover {
    border: none;
    color: white;
    background: $color-darkblue-bg;
  }
  * {
    display: block;
    margin: 1rem auto;
  }

}
.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-darkblue-bg;
  opacity: 0.5;
}
// button {
//   float: right;
// }
